In [1]:
import pandas as pd
import numpy as np
import re
import jieba


df = pd.read_csv("sample.csv",encoding="gbk",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,22岁,162cm,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限
1,31岁,161cm,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限
2,23岁,158cm,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限
3,24岁,160cm,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限
4,22岁,168cm,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限

## 设置行列索引

In [4]:
# 指定行索引
df.index = range(len(df))

# 指定列索引
df.columns = ['年龄', '身高', '学历', '工资', '家乡', '婚姻', '住房', '自我介绍', '对象年龄', '对象身高', '对象学历', '对象薪水', '对象家乡', '对象婚姻', '对象住房']
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房
0,22岁,162cm,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限
1,31岁,161cm,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限
2,23岁,158cm,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限
3,24岁,160cm,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限
4,22岁,168cm,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限

## 查看是否有空值

In [19]:
df.isnull().any(axis = 0)

年龄      False
身高      False
学历      False
工资      False
家乡      False
婚姻      False
住房      False
自我介绍    False
对象年龄    False
对象身高    False
对象学历    False
对象薪水    False
对象家乡    False
对象婚姻    False
对象住房    False
dtype: bool

## 去重

In [6]:
print('去重前数据量：', df.shape)
# 去重
df.drop_duplicates(inplace=True)
print('去重后数据量：', df.shape)

去重前数据量： (2875, 15)
去重后数据量： (2827, 15)

## 把年龄中的“岁”去掉

In [15]:
df['年龄'] = df['年龄'].str[0:2]
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房
0,22,162cm,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限
1,31,161cm,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限
2,23,158cm,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限
3,24,160cm,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限
4,22,168cm,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限

## 把身高中的“cm”去掉，以便后续处理

In [24]:
# 不用了，正则遍历有点消耗，数据量少，直接用上面方法
# for height in df['身高']:
#     re.findall('(.*)cm',height)
df['身高'] = df['身高'].str[0:3]
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限

In [25]:
# 根据省份分类，看看每个省份的数据
df.groupby(by='家乡').size()

家乡
Baden-Wurttemberg      1
Basse-Normandie        1
Bayern                 1
England                1
Ontario                3
Stockholm              1
Waikato                1
上海市                   82
云南省                   72
以后告诉你                206
内蒙古自治区               131
加拿大                    1
北京市                  100
台湾省                  149
吉林省                  109
四川省                   45
天津市                   43
宁夏回族自治区               28
安徽省                   46
山东省                   59
山西省                  100
广东省                   49
广西壮族自治区               24
德国                     1
新加坡                    4
新南威尔士州                 1
新疆自治区                 33
日本                     3
曼谷                     1
江苏省                   87
江西省                   70
河北省                  113
河南省                   33
浙江省                   57
海南省                   44
湖北省                   47
湖南省                   95
澳大利亚                   2
澳门特别行政区              130
甘肃省                   35
神奈川县                   1
福建省                   40
维多利亚州                  1
缅甸                     1
美国                     1
英国                     1
西藏自治区                246
贵州省                   43
越南                     1
辽宁省                  151
重庆市                   23
钓鱼岛                   10
陕西省                   54
青海省                   49
首尔（汉城）                 3
香港特别行政区               77
黑龙江省                 116
dtype: int64

In [26]:
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限

## 对工资进行处理，分离到最低最高的工资

In [35]:
# 对工资进行处理
def get_salary_max_min(salary):
    try:
        result = re.split('-', salary)
        return result
    except:
        return salary
salary = df['工资'].apply(get_salary_max_min)
df['最低工资'] = salary.str[0]
df['最高工资'] = salary.str[1]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2827 entries, 0 to 2874
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年龄      2827 non-null   object
 1   身高      2827 non-null   object
 2   学历      2827 non-null   object
 3   工资      2827 non-null   object
 4   家乡      2827 non-null   object
 5   婚姻      2827 non-null   object
 6   住房      2827 non-null   object
 7   自我介绍    2827 non-null   object
 8   对象年龄    2827 non-null   object
 9   对象身高    2827 non-null   object
 10  对象学历    2827 non-null   object
 11  对象薪水    2827 non-null   object
 12  对象家乡    2827 non-null   object
 13  对象婚姻    2827 non-null   object
 14  对象住房    2827 non-null   object
 15  最低工资    2827 non-null   object
 16  最高工资    2370 non-null   object
dtypes: object(17)
memory usage: 477.5+ KB

- **把不符合规范带有中文的数据处理了**

In [42]:

indexs = df[df['最低工资'] == '2000以下'].index
df.loc[indexs, '最低工资'] = '2000'
df.loc[indexs, '最高工资'] = '2000'
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房,最低工资,最高工资
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限,10000,20000
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限,5000,10000
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限,10000,20000
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限,10000,20000
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限,5000,10000

In [49]:
indexs = df[df['最低工资'] == '>50000'].index
df.loc[indexs, '最低工资'] = '50000'
df.loc[indexs, '最高工资'] = '50000'
df.loc[indexs]

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房,最低工资,最高工资
61,51,163,博士,>50000,江苏省,未婚,需要时购置,\n 岁月在流逝，只想找个和我相携一生的伴侣，那是最美...,50 - 60岁,170 - 190cm,不限,不限,江苏省,不限,不限,50000,50000
154,54,172,博士,>50000,吉林省,未婚,住亲朋家,\n 也许我很平凡，但是我绝不缺乏生活的热情和生命的梦...,53 - 63岁,170 - 190cm,不限,不限,吉林省,不限,不限,50000,50000
177,33,175,博士,>50000,以后告诉你,未婚,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,27 - 38岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",不限,不限,不限,50000,50000
181,72,169,博士,>50000,江西省,离异,以后告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,21 - 32岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",江西省,不限,不限,50000,50000
207,58,180,初中,>50000,江苏省,未婚,已购房(有贷款),\n 真想把“爱情“抓到面前来，揪住它的衣领恶狠狠的对...,58 - 68岁,170 - 190cm,不限,不限,江苏省,不限,不限,50000,50000
255,31,162,高中,>50000,云南省,未婚,已购房(无贷款),\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,30 - 40岁,170 - 190cm,不限,不限,云南省,不限,不限,50000,50000
307,29,177,初中,>50000,甘肃省,未婚,已购房(有贷款),\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,28 - 38岁,170 - 190cm,不限,不限,甘肃省,不限,不限,50000,50000
346,58,173,大专,>50000,西藏自治区,未婚,以后告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,22 - 33岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",西藏自治区,不限,不限,50000,50000
511,19,153,硕士,>50000,山西省,丧偶,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,18 - 18岁,157 - 157cm,中专/职高/技校,不限,山西省,未婚,以后再告诉你,50000,50000
600,31,166,博士,>50000,浙江省,未婚,已购房(无贷款),\n 我想要的未来，有房子住，不用多大，最好窗外有阳光...,30 - 40岁,170 - 190cm,不限,不限,浙江省,不限,不限,50000,50000
883,34,169,本科,>50000,台湾省,未婚,以后再告诉你,\n 我是3G百合用户，在百合，我希望自己不是这里的一...,28 - 36岁,169 - 189cm,不限,"2000以下,2000-5000,5000-10000,10000-20000,20000-...",台湾省,不限,"以后再告诉你,与父母同住,需要时购置,已购房(无贷款),住单位房,住亲朋家",50000,50000
1079,25,175,博士,>50000,青海省,未婚,以后告诉你,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,20 - 60岁,150 - 195cm,不限,不限,青海省,不限,不限,50000,50000
1082,67,155,初中,>50000,广东省,未婚,以后告诉你,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,65 - 75岁,170 - 190cm,不限,"2000以下,2000-5000",广东省,未婚,"以后再告诉你,与父母同住,租房,已购房(有贷款),已购房(无贷款),住单位房,住亲朋家",50000,50000
1084,28,151,本科,>50000,海南省,未婚,以后告诉你,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,27 - 37岁,170 - 190cm,不限,"2000以下,2000-5000",海南省,未婚,"以后再告诉你,与父母同住,租房,已购房(有贷款),已购房(无贷款),住单位房,住亲朋家",50000,50000
1085,33,152,高中,>50000,西藏自治区,未婚,以后告诉你,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,31 - 41岁,170 - 190cm,不限,"2000以下,2000-5000",西藏自治区,未婚,"以后再告诉你,与父母同住,租房,已购房(有贷款),已购房(无贷款),住单位房,住亲朋家",50000,50000
1121,40,190,博士,>50000,Bayern,未婚,已购房(无贷款),\n 豆腐干 \t\t\t\t,20 - 64岁,144 - 196cm,不限,"5000-10000,10000-20000,20000-50000",Bayern,"未婚,离异","已购房(无贷款),住单位房",50000,50000
1126,30,168,硕士,>50000,以后告诉你,未婚,租房,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,30 - 60岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",江苏省,不限,不限,50000,50000
1137,32,167,博士,>50000,以后告诉你,未婚,以后告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,27 - 38岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",不限,不限,不限,50000,50000
1143,31,161,博士,>50000,以后告诉你,未婚,以后告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,27 - 38岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",不限,不限,不限,50000,50000
1157,30,150,大专,>50000,以后告诉你,未婚,以后告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,24 - 35岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",不限,不限,不限,50000,50000
1199,29,162,本科,>50000,以后告诉你,未婚,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 34岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",不限,不限,不限,50000,50000
1230,29,173,博士,>50000,以后告诉你,未婚,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 34岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",不限,不限,不限,50000,50000
1306,36,163,博士,>50000,宁夏回族自治区,未婚,以后再告诉你,\n 我是3G百合用户，在百合，我希望自己不是这里的一...,30 - 38岁,163 - 183cm,不限,"2000以下,2000-5000,5000-10000,10000-20000,20000-...",宁夏回族自治区,不限,"以后再告诉你,与父母同住,需要时购置,已购房(无贷款),住单位房,住亲朋家",50000,50000
1416,31,152,硕士,>50000,西藏自治区,丧偶,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,25 - 36岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",西藏自治区,不限,不限,50000,50000
1439,29,150,高中,>50000,西藏自治区,未婚,以后告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,23 - 34岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",西藏自治区,不限,不限,50000,50000
1451,30,169,大专,>50000,西藏自治区,未婚,以后告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,24 - 35岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",西藏自治区,不限,不限,50000,50000
1461,68,172,博士,>50000,贵州省,未婚,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,62 - 73岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",贵州省,不限,不限,50000,50000
1511,58,173,本科,>50000,安徽省,离异,以后告诉你,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,51 - 62岁,173 - 193cm,不限,不限,安徽省,不限,不限,50000,50000
1572,57,167,大专,>50000,广西壮族自治区,丧偶,以后告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,19 - 30岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",广西壮族自治区,不限,不限,50000,50000
1688,34,176,本科,>50000,青海省,未婚,以后告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,31 - 39岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士",不限,青海省,不限,不限,50000,50000
1709,32,160,本科,>50000,香港特别行政区,未婚,以后告诉你,\n 你们好：我是张玉u，不知道你看我的资料还觉得合适...,28 - 39岁,160 - 180cm,不限,不限,香港特别行政区,不限,不限,50000,50000
1713,33,160,大专,>50000,香港特别行政区,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,26 - 37岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",香港特别行政区,不限,不限,50000,50000
1722,28,168,本科,>50000,香港特别行政区,未婚,已购房(无贷款),\n 每个人心中都有向往的爱情，我的爱情在哪里呢？\t...,22 - 33岁,168 - 188cm,不限,不限,香港特别行政区,不限,不限,50000,50000
1723,31,167,本科,>50000,香港特别行政区,未婚,以后告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,25 - 40岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",北京市,不限,不限,50000,50000
1744,29,169,高中,>50000,澳门特别行政区,未婚,以后告诉你,\n 我总是爱逞强，不愿说出我有多么爱你，不肯彻底表露...,23 - 34岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",澳门特别行政区,不限,不限,50000,50000
1772,31,156,本科,>50000,台湾省,未婚,以后告诉你,\n 幸福是什么呢？不就是两人牵手偕老过一辈子吗？我已...,25 - 36岁,156 - 176cm,不限,不限,台湾省,不限,不限,50000,50000
1790,32,177,初中,>50000,台湾省,未婚,以后告诉你,\n 躲在某一时间，想念一段时光的掌纹；躲在某一地点，...,25 - 36岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",台湾省,不限,不限,50000,50000
1791,31,178,博士,>50000,台湾省,未婚,以后告诉你,\n 一个人的天空很蓝，蓝的有点忧郁。一个人的日子自由...,24 - 35岁,160 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",台湾省,不限,不限,50000,50000
1854,33,175,硕士,>50000,安徽省,未婚,与父母同住,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,32 - 42岁,170 - 190cm,不限,不限,安徽省,不限,不限,50000,50000
2341,48,158,硕士,>50000,江苏省,离异,已购房(无贷款),\n 希望找到一个真诚，自信，积极，阳光的另一半，相扶...,42 - 52岁,175 - 211cm,"本科,硕士,博士",20000-50000,江苏省,不限,不限,50000,50000
2349,61,159,高中,>50000,黑龙江省,离异,以后告诉你,\n 照片都是近照。想互相了解的加我了解，不是会员不方...,52 - 60岁,175 - 211cm,"初中,中专/职高/技校,高中,大专,本科,硕士,博士","2000以下,2000-5000,5000-10000,10000-20000,20000-...",黑龙江省,不限,不限,50000,50000
2500,62,163,大专,>50000,湖北省,丧偶,已购房(无贷款),\n 我喜欢音乐，喜欢唱歌，喜欢摄影，喜欢旅游。曾经是...,56 - 63岁,174 - 180cm,"大专,本科,硕士,博士","2000-5000,5000-10000,10000-20000,20000-50000,>...",江苏省,不限,已购房(无贷款),50000,50000
2550,30,167,大专,>50000,天津市,未婚,已购房(无贷款),\n 幸福是什么呢？不就是两人牵手偕老过一辈子吗？我已...,25 - 36岁,167 - 187cm,不限,不限,福建省,不限,不限,50000,50000
2712,39,167,本科,>50000,台湾省,离异,以后告诉你,\n 大家好，我来自台湾省台北市，在百合网真心寻找一个...,33 - 44岁,167 - 187cm,不限,不限,台湾省,不限,不限,50000,50000

- **转化为数字类型**

In [50]:
df['最高工资'] = pd.to_numeric(df['最高工资'])
df['最低工资'] = pd.to_numeric(df['最低工资'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2827 entries, 0 to 2874
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年龄      2827 non-null   object
 1   身高      2827 non-null   object
 2   学历      2827 non-null   object
 3   工资      2827 non-null   object
 4   家乡      2827 non-null   object
 5   婚姻      2827 non-null   object
 6   住房      2827 non-null   object
 7   自我介绍    2827 non-null   object
 8   对象年龄    2827 non-null   object
 9   对象身高    2827 non-null   object
 10  对象学历    2827 non-null   object
 11  对象薪水    2827 non-null   object
 12  对象家乡    2827 non-null   object
 13  对象婚姻    2827 non-null   object
 14  对象住房    2827 non-null   object
 15  最低工资    2827 non-null   int64
 16  最高工资    2827 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 477.5+ KB

- **求工资的平均值**

In [51]:
df['平均工资'] = df[['最低工资', '最高工资']].mean(axis=1)

In [52]:
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房,最低工资,最高工资,平均工资
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,162 - 187cm,不限,不限,台湾省,不限,不限,10000,20000.0,15000.0
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38岁,161 - 186cm,不限,不限,澳门特别行政区,不限,不限,5000,10000.0,7500.0
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29岁,158 - 183cm,不限,不限,台湾省,不限,不限,10000,20000.0,15000.0
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31岁,160 - 185cm,不限,不限,台湾省,不限,不限,10000,20000.0,15000.0
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29岁,168 - 193cm,不限,不限,香港特别行政区,不限,不限,5000,10000.0,7500.0

## 把对象年龄的“岁”去掉，其他处理方法同上

In [57]:
df['对象年龄'] = df['对象年龄'].str[0:7]

In [59]:
# 对对象年龄进行处理
def get_he_age_max_min(he_age):
    try:
        result = re.split(' - ', he_age)
        return result
    except:
        return he_age
he_age = df['对象年龄'].apply(get_he_age_max_min)
df['对象最低年龄'] = he_age.str[0]
df['对象最高年龄'] = he_age.str[1]
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,对象学历,对象薪水,对象家乡,对象婚姻,对象住房,最低工资,最高工资,平均工资,对象最低年龄,对象最高年龄
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187cm,不限,不限,台湾省,不限,不限,10000,20000.0,15000.0,21,29
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186cm,不限,不限,澳门特别行政区,不限,不限,5000,10000.0,7500.0,30,38
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183cm,不限,不限,台湾省,不限,不限,10000,20000.0,15000.0,21,29
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185cm,不限,不限,台湾省,不限,不限,10000,20000.0,15000.0,23,31
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193cm,不限,不限,香港特别行政区,不限,不限,5000,10000.0,7500.0,21,29

In [60]:
df['对象最低年龄'] = pd.to_numeric(df['对象最低年龄'])
df['对象最高年龄'] = pd.to_numeric(df['对象最高年龄'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2827 entries, 0 to 2874
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年龄      2827 non-null   object
 1   身高      2827 non-null   object
 2   学历      2827 non-null   object
 3   工资      2827 non-null   object
 4   家乡      2827 non-null   object
 5   婚姻      2827 non-null   object
 6   住房      2827 non-null   object
 7   自我介绍    2827 non-null   object
 8   对象年龄    2827 non-null   object
 9   对象身高    2827 non-null   object
 10  对象学历    2827 non-null   object
 11  对象薪水    2827 non-null   object
 12  对象家乡    2827 non-null   object
 13  对象婚姻    2827 non-null   object
 14  对象住房    2827 non-null   object
 15  最低工资    2827 non-null   int64
 16  最高工资    2827 non-null   float64
 17  平均工资    2827 non-null   float64
 18  对象最低年龄  2827 non-null   int64
 19  对象最高年龄  2827 non-null   int64
dtypes: float64(2), int64(3), object(15)
memory usage: 543.8+ KB

In [61]:
df['对象平均年龄'] = df[['对象最低年龄', '对象最高年龄']].mean(axis=1)

In [62]:
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,对象薪水,对象家乡,对象婚姻,对象住房,最低工资,最高工资,平均工资,对象最低年龄,对象最高年龄,对象平均年龄
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187cm,...,不限,台湾省,不限,不限,10000,20000.0,15000.0,21,29,25.0
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186cm,...,不限,澳门特别行政区,不限,不限,5000,10000.0,7500.0,30,38,34.0
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183cm,...,不限,台湾省,不限,不限,10000,20000.0,15000.0,21,29,25.0
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185cm,...,不限,台湾省,不限,不限,10000,20000.0,15000.0,23,31,27.0
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193cm,...,不限,香港特别行政区,不限,不限,5000,10000.0,7500.0,21,29,25.0

In [63]:
df['对象薪水']

0               不限
1               不限
2               不限
3               不限
4               不限
           ...
2870            不限
2871            不限
2872            不限
2873    5000-10000
2874            不限
Name: 对象薪水, Length: 2827, dtype: object

## 处理对象身高

In [67]:
df['对象身高'] = df['对象身高'].str[0:9]

In [72]:
df['对象身高'] 

# 这里也可以调用算年龄的那个函数，我这里直接调用了，名字没取好，不管了
he_height = df['对象身高'].apply(get_he_age_max_min)
df['对象最低身高'] = he_height.str[0]
df['对象最高身高'] = he_height.str[1]
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,对象住房,最低工资,最高工资,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187,...,不限,10000,20000.0,15000.0,21,29,25.0,162,187,NaN
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186,...,不限,5000,10000.0,7500.0,30,38,34.0,161,186,NaN
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183,...,不限,10000,20000.0,15000.0,21,29,25.0,158,183,NaN
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185,...,不限,10000,20000.0,15000.0,23,31,27.0,160,185,NaN
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193,...,不限,5000,10000.0,7500.0,21,29,25.0,168,193,NaN

In [76]:
indexs = df[df['对象最低身高'] == '不限'].index
df.loc[indexs, '对象最低身高'] = '0'
df.loc[indexs, '对象最高身高'] = '0'
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,对象住房,最低工资,最高工资,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187,...,不限,10000,20000.0,15000.0,21,29,25.0,162,187,NaN
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186,...,不限,5000,10000.0,7500.0,30,38,34.0,161,186,NaN
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183,...,不限,10000,20000.0,15000.0,21,29,25.0,158,183,NaN
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185,...,不限,10000,20000.0,15000.0,23,31,27.0,160,185,NaN
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193,...,不限,5000,10000.0,7500.0,21,29,25.0,168,193,NaN

In [77]:

df['对象最低身高'] = pd.to_numeric(df['对象最低身高'])
df['对象最高身高'] = pd.to_numeric(df['对象最高身高'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2827 entries, 0 to 2874
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年龄      2827 non-null   object
 1   身高      2827 non-null   object
 2   学历      2827 non-null   object
 3   工资      2827 non-null   object
 4   家乡      2827 non-null   object
 5   婚姻      2827 non-null   object
 6   住房      2827 non-null   object
 7   自我介绍    2827 non-null   object
 8   对象年龄    2827 non-null   object
 9   对象身高    2827 non-null   object
 10  对象学历    2827 non-null   object
 11  对象薪水    2827 non-null   object
 12  对象家乡    2827 non-null   object
 13  对象婚姻    2827 non-null   object
 14  对象住房    2827 non-null   object
 15  最低工资    2827 non-null   int64
 16  最高工资    2827 non-null   float64
 17  平均工资    2827 non-null   float64
 18  对象最低年龄  2827 non-null   int64
 19  对象最高年龄  2827 non-null   int64
 20  对象平均年龄  2827 non-null   float64
 21  对象最低身高  2827 non-null   int64
 22  对象最高身高  2827 non-null   int64
 23  对象平均身高  0 non-null      float64
dtypes: float64(4), int64(5), object(15)
memory usage: 632.1+ KB

In [78]:
df['对象平均身高'] = df[['对象最低身高', '对象最高身高']].mean(axis=1)

In [80]:
df['对象平均身高']
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,对象住房,最低工资,最高工资,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187,...,不限,10000,20000.0,15000.0,21,29,25.0,162,187,174.5
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186,...,不限,5000,10000.0,7500.0,30,38,34.0,161,186,173.5
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183,...,不限,10000,20000.0,15000.0,21,29,25.0,158,183,170.5
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185,...,不限,10000,20000.0,15000.0,23,31,27.0,160,185,172.5
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193,...,不限,5000,10000.0,7500.0,21,29,25.0,168,193,180.5

In [82]:
# 看看我的身高够不够平均值哈哈哈哈
df['对象平均身高'].mean(axis=0)

178.13371064732934

In [83]:
# 我去 我输了 呜呜呜

## 处理对象薪水

In [86]:
# 再处理下对象的工资吧
# 把不限的改成 '0-0'待会就好处理了
indexs = df[df['对象薪水'] == '不限'].index
df.loc[indexs, '对象薪水'] = '0-0'
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,对象住房,最低工资,最高工资,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187,...,不限,10000,20000.0,15000.0,21,29,25.0,162,187,174.5
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186,...,不限,5000,10000.0,7500.0,30,38,34.0,161,186,173.5
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183,...,不限,10000,20000.0,15000.0,21,29,25.0,158,183,170.5
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185,...,不限,10000,20000.0,15000.0,23,31,27.0,160,185,172.5
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193,...,不限,5000,10000.0,7500.0,21,29,25.0,168,193,180.5

In [87]:
df['对象薪水']

0              0-0
1              0-0
2              0-0
3              0-0
4              0-0
           ...
2870           0-0
2871           0-0
2872           0-0
2873    5000-10000
2874           0-0
Name: 对象薪水, Length: 2827, dtype: object

In [88]:
salary = df['对象薪水'].apply(get_salary_max_min)
df['对象最低薪水'] = salary.str[0]
df['对象最高薪水'] = salary.str[1]
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,最高工资,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高,对象最低薪水,对象最高薪水
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187,...,20000.0,15000.0,21,29,25.0,162,187,174.5,0,0
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186,...,10000.0,7500.0,30,38,34.0,161,186,173.5,0,0
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183,...,20000.0,15000.0,21,29,25.0,158,183,170.5,0,0
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185,...,20000.0,15000.0,23,31,27.0,160,185,172.5,0,0
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193,...,10000.0,7500.0,21,29,25.0,168,193,180.5,0,0

## 把含有中文和特殊字符的处理了

In [ ]:


# 发现错误 ， 有‘>50000’ 的字符串数据， 改成50000，方便计算
indexs = df[df['对象最低薪水'] == '>50000'].index
df.loc[indexs, '对象最低薪水'] = '50000'
df.loc[indexs, '对象最高薪水'] = '50000'

indexs = df[df['对象最高薪水'] == '50000,>50000'].index
df.loc[indexs, '对象最低薪水'] = '50000'
df.loc[indexs, '对象最高薪水'] = '50000'

indexs = df[df['对象最高薪水'] == '10000,10000'].index
df.loc[indexs, '对象最低薪水'] = '10000'
df.loc[indexs, '对象最高薪水'] = '10000'

indexs = df[df['对象最高薪水'] == '20000,20000'].index
df.loc[indexs, '对象最低薪水'] = '20000'
df.loc[indexs, '对象最高薪水'] = '20000'

indexs = df[df['对象最高薪水'] == '5000,5000'].index
df.loc[indexs, '对象最低薪水'] = '5000'
df.loc[indexs, '对象最高薪水'] = '5000'

indexs = df[df['对象最高薪水'] == '5000,10000'].index
df.loc[indexs, '对象最低薪水'] = '5000'
df.loc[indexs, '对象最高薪水'] = '10000'

In [97]:
# 发现错误，有字符串数据， 把这个也改成0好了
indexs = df[df['对象最低薪水'] == '2000以下,2000'].index
df.loc[indexs, '对象最低薪水'] = '0'
df.loc[indexs, '对象最高薪水'] = '0'
indexs = df[df['对象最低薪水'] == '2000以下,5000'].index
df.loc[indexs, '对象最低薪水'] = '0'
df.loc[indexs, '对象最高薪水'] = '0'
indexs = df[df['对象最低薪水'] == '2000以下'].index
df.loc[indexs, '对象最低薪水'] = '0'
df.loc[indexs, '对象最高薪水'] = '0'

In [112]:
df['对象最低薪水'] = pd.to_numeric(df['对象最低薪水'])
df['对象最高薪水'] = pd.to_numeric(df['对象最高薪水'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2827 entries, 0 to 2874
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年龄      2827 non-null   object
 1   身高      2827 non-null   object
 2   学历      2827 non-null   object
 3   工资      2827 non-null   object
 4   家乡      2827 non-null   object
 5   婚姻      2827 non-null   object
 6   住房      2827 non-null   object
 7   自我介绍    2827 non-null   object
 8   对象年龄    2827 non-null   object
 9   对象身高    2827 non-null   object
 10  对象学历    2827 non-null   object
 11  对象薪水    2827 non-null   object
 12  对象家乡    2827 non-null   object
 13  对象婚姻    2827 non-null   object
 14  对象住房    2827 non-null   object
 15  最低工资    2827 non-null   int64
 16  最高工资    2827 non-null   float64
 17  平均工资    2827 non-null   float64
 18  对象最低年龄  2827 non-null   int64
 19  对象最高年龄  2827 non-null   int64
 20  对象平均年龄  2827 non-null   float64
 21  对象最低身高  2827 non-null   int64
 22  对象最高身高  2827 non-null   int64
 23  对象平均身高  2827 non-null   float64
 24  对象最低薪水  2827 non-null   int64
 25  对象最高薪水  2827 non-null   int64
dtypes: float64(4), int64(7), object(15)
memory usage: 676.3+ KB

In [113]:
df['对象平均薪水'] = df[['对象最低薪水', '对象最高薪水']].mean(axis=1)
df.head()

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高,对象最低薪水,对象最高薪水,对象平均薪水
0,22,162,高中,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,162 - 187,...,15000.0,21,29,25.0,162,187,174.5,0,0,0.0
1,31,161,大专,5000-10000,澳门特别行政区,未婚,以后再告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,30 - 38,161 - 186,...,7500.0,30,38,34.0,161,186,173.5,0,0,0.0
2,23,158,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,21 - 29,158 - 183,...,15000.0,21,29,25.0,158,183,170.5,0,0,0.0
3,24,160,大专,10000-20000,台湾省,未婚,以后再告诉你,\n 大家好，很高兴来到这里，非常希望认识更多的朋友，...,23 - 31,160 - 185,...,15000.0,23,31,27.0,160,185,172.5,0,0,0.0
4,22,168,高中,5000-10000,香港特别行政区,未婚,以后再告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,21 - 29,168 - 193,...,7500.0,21,29,25.0,168,193,180.5,0,0,0.0

In [120]:
df.loc[df['对象平均薪水'] > 3000]

,年龄,身高,学历,工资,家乡,婚姻,住房,自我介绍,对象年龄,对象身高,...,平均工资,对象最低年龄,对象最高年龄,对象平均年龄,对象最低身高,对象最高身高,对象平均身高,对象最低薪水,对象最高薪水,对象平均薪水
25,63,162,初中,2000-5000,河南省,离异,已购房(无贷款),\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,58 - 66,170 - 190,...,3500.0,58,66,62.0,170,190,180.0,2000,5000,3500.0
89,30,166,本科,10000-20000,浙江省,未婚,已购房(有贷款),\n 希望在百合遇见最好的归宿，如果你符合我的择偶要求...,35 - 49,166 - 191,...,15000.0,35,49,42.0,166,191,178.5,50000,50000,50000.0
116,47,159,中专/职高/技校,2000-5000,湖北省,离异,以后告诉你,\n 我希望自己不是这里的一个过客，盼望找到我爱的人，...,47 - 55,167 - 178,...,3500.0,47,55,51.0,167,178,172.5,50000,50000,50000.0
192,33,168,本科,5000-10000,西藏自治区,未婚,以后告诉你,\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,18 - 48,157 - 190,...,7500.0,18,48,33.0,157,190,173.5,2000,5000,3500.0
219,62,160,高中,2000-5000,新疆自治区,丧偶,以后再告诉你,\n \t\t\t\t,55 - 65,173 - 211,...,3500.0,55,65,60.0,173,211,192.0,10000,10000,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2854,50,168,中专/职高/技校,2000以下,江苏省,离异,以后再告诉你,\n 等待，只为与你相遇，从相识、相爱、到遥远的未来。...,43 - 54,168 - 188,...,2000.0,43,54,48.5,168,188,178.0,10000,20000,15000.0
2860,38,163,本科,2000-5000,辽宁省,离异,已购房(有贷款),\n 婚姻有两种，一种叫搭伙，一种叫余生！,33 - 44,175 - 185,...,3500.0,33,44,38.5,175,185,180.0,5000,10000,7500.0
2866,51,160,本科,10000-20000,山东省,离异,已购房(无贷款),\n 在百合，我希望自己不是这里的一个过客，而是盼望在...,46 - 57,170 - 178,...,15000.0,46,57,51.5,170,178,174.0,20000,20000,20000.0
2869,35,160,大专,2000-5000,福建省,未婚,以后再告诉你,\n 自我介绍：等待，只为与你相遇，从相识 相爱到遥远...,32 - 40,170 - 180,...,3500.0,32,40,36.0,170,180,175.0,20000,20000,20000.0
2873,41,153,中专/职高/技校,2000-5000,湖北省,离异,以后告诉你,\n 在百合，我希望找到一个真诚，自信，积极，阳光的另...,40 - 48,153 - 178,...,3500.0,40,48,44.0,153,178,165.5,5000,10000,7500.0

In [122]:
# 看下粗略的平均工资 工作以后有个数嘿嘿
indexs = df.loc[df['对象平均薪水'] > 0].index
df.loc[indexs, '对象平均薪水'].mean(axis=0)

12437.614678899083

In [ ]:
# 挺好的 呵呵

## 为做词云做准备

In [123]:
with open(r"stopword.txt","r") as f:
    stopword = f.read()
stopword = stopword.split()
stopword = stopword + ["百合","另一半"," ", '\n', '一半', '相扶相持','\t' ]

df["自我介绍"] = df["自我介绍"].str[2:-2].apply(lambda x:x.lower()).apply(lambda x:"".join(x))\
    .apply(jieba.lcut).apply(lambda x:[i for i in x if i not in stopword])
df.loc[df["自我介绍"].apply(lambda x:len(x) < 6),"自我介绍"] = np.nan

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\yujiaqi\AppData\Local\Temp\jieba.cache
Loading model cost 2.442 seconds.
Prefix dict has been built succesfully.

In [124]:
df.columns

Index(['年龄', '身高', '学历', '工资', '家乡', '婚姻', '住房', '自我介绍', '对象年龄', '对象身高',
       '对象学历', '对象薪水', '对象家乡', '对象婚姻', '对象住房', '最低工资', '最高工资', '平均工资',
       '对象最低年龄', '对象最高年龄', '对象平均年龄', '对象最低身高', '对象最高身高', '对象平均身高', '对象最低薪水',
       '对象最高薪水', '对象平均薪水'],
      dtype='object')

## 保存处理后的文件

In [126]:
feature = ['年龄', '身高', '学历', '工资', '家乡', '婚姻', '住房', '自我介绍', '对象年龄', '对象身高',
       '对象学历', '对象薪水', '对象家乡', '对象婚姻', '对象住房', '最低工资', '最高工资', '平均工资',
       '对象最低年龄', '对象最高年龄', '对象平均年龄', '对象最低身高', '对象最高身高', '对象平均身高', '对象最低薪水',
       '对象最高薪水', '对象平均薪水']
final_df = df[feature]
final_df.to_excel(r"可视化.xlsx",encoding="gbk",index=None)